.user {
  margin-top: auto;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.userDisplay {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  background: var(--light-blue);
  transition: background 0.3s ease-out;
  border-radius: 10px;
  border: none;
  padding: 0.8rem;
  width: 100%;
}

.userDisplay.closed {
  background: none;
  padding: 0;
  margin-left: -4px;
}

.userDisplay:hover {
  background-color: var(--lighter-blue);
  box-shadow: var(--pop-up-shadow);
}

.userDisplay.closed:hover {
  background: none;
}

.userText {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: left;
}

.userText.closed {
  display: none;
}

.userEmail {
  font-size: 0.8rem;
}
