:root {
  /* Colors */
  --background: #ffffff;
  --foreground: #171717;
  --control-border: rgba(0, 0, 0, 0.23);
  --light-blue: #e9f0f5;
  --lighter-blue: #eff6fb;

  /* Effects */
  --pop-up-shadow: 0px 16px 28px -4px rgba(0, 0, 0, 0.02),
    0px 5px 12px -3px rgba(0, 0, 0, 0.08), 0px 2px 3px -2px rgba(0, 0, 0, 0.06),
    0px 0.5px 1px -1px rgba(0, 0, 0, 0.06);

  /* Breakpoints */
  --bp-mobile: 30rem; /* 480px */
  --bp-tablet: 45rem; /* 720px */
  --bp-desktop: 60rem; /* 960px */
  --bp-wide: 75rem; /* 1200px */
  --bp-ultra: 90rem; /* 1440px */
}
