.avatarContainer {
  position: relative;
  width: auto;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.avatarOverlay {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer:hover .avatarOverlay {
  opacity: 1;
}

.fileInput {
  display: none;
}
