.sidebar {
  max-width: 18rem;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--light-blue);
  display: none;
  position: relative;
  transition: max-width 0.3s ease-out, padding 0.3s ease-out;
}

.sidebar.closed {
  max-width: 3.5rem;
  padding: 1rem 0.75rem;
  overflow: hidden;
}

.closeIcon {
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.closeIcon.closed {
  opacity: 0;
  /* z-index: -1; */
}

.openIcon {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  cursor: pointer;
  transition: opacity 0.5s ease-out, z-index 0.7s ease-out;
}

.openIcon.closed {
  opacity: 1;
  z-index: 1;
}

@media screen and (min-width: 45rem) {
  .sidebar {
    display: flex;
  }
}
