@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(1rem);
  }
}

.popup {
  position: fixed;
  bottom: 4.5rem;
  left: 0.7rem;
  opacity: 0;
  transform: translateY(1rem);
  margin-top: auto;
  margin-bottom: 0.5rem;
  background: var(--lighter-blue);
  border-radius: 10px;
  box-shadow: var(--pop-up-shadow);
  padding: 1rem;
  animation: fadeOut 0.3s ease-in-out forwards;
  pointer-events: none;
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.3s ease-in-out forwards;
  pointer-events: auto;
}

.popup ul {
  list-style: none;
  padding: 0;
}

.popup li {
  margin: 0.5rem 0;
}

.popup li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--lighter-blue);
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  transition: background 0.3s ease-out;
}

.popup li a:hover {
  text-decoration: none;
  background: var(--light-blue);
}

.icon {
  font-size: 24px;
  font-weight: 100;
}

@media screen and (min-width: 45rem) {
  .popup {
    left: 1rem;
    bottom: 5.2rem;
  }
}
