.nav {
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  margin: 1.4em 0;
}

.nav li a {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.nav li a:hover {
  text-decoration: none;
}
